@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left_img_box {
  position: sticky;
  top: 12px;
}
.header_bottom {
  li {
    position: relative;
  }
  li::before {
    content: "";

    width: 0%;
    height: 2px;
    transition: 0.4s ease;

    background-color: #00000010;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  li:hover::before {
    background-color: #000;
    width: 100%;
  }
}
.log_in_modal {
  z-index: 2147483640;
}
.arrow_top {
  z-index: 2147483641;
  border: 0;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 100%;
  border: 1px solid rgba(118, 121, 127, 0.3);

  opacity: 0.5;
  background: #fff;
  width: 40px;
  height: 40px;
}
.swiper {
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.bag_modal {
  position: absolute;
  z-index: 2147483641;
  box-shadow: 0px 5px 15px -6px black;
}
.fake_header {
  position: relative;
  z-index: 2147483640;
  box-shadow: 0px 0px 13px -8px black;
}
.checkbox:checked {
  background-color: #7000ff;
}

.pop_up_modal {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2147483641;
  box-shadow: 0px 2px 10px -4px black;
}

.product_card:hover {
  border-radius: 2px;
  transition: 0.3s ease;
  box-shadow: -1px 5px 16px -13px rgb(143, 141, 141);
}

.searcher_modal {
  z-index: 2147483641;
  left: 50%;
  transform: translateX(-50%);
}

.loader_box {
  position: fixed;
  transition: 0.3s;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500000;
  .loader {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s ease-out infinite;
  }
  .inner_loader {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: innerspin 1s ease-out infinite;
  }
}
.order_div {
  z-index: 2147483641;
}
.menu {
  z-index: 2147483641;
}
@keyframes innerspin {
  0% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
}
@keyframes spin {
  0% {
    width: 100px;
    height: 100px;
    background: opacity($color: #00000050);
  }
  100% {
    width: 20px;
    height: 20px;
  }
}

.swiper-slide {
  text-align: center;
  width: fit-content;
  font-size: 18px;
  background: #fff;
}
*::-webkit-scrollbar {
  display: none;
}
